@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic);
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&amp;subset=cyrillic');
/*@import "http://fonts.fontstorage.com/import/gtw.css";*/
/*@import "http://fonts.fontstorage.com/import/zhizn.css";*/
/*@import "http://fonts.fontstorage.com/import/badscript.css";*/
/*@import "http://fonts.fontstorage.com/import/lato.css";*/

@font-face {
  font-family: "Bad Script";
  src: url("../fonts/badscript/BadScript-Regular.eot");
  src: url("../fonts/badscript/BadScript-Regular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/badscript/BadScript-Regular.woff") format("woff"),
  url("../fonts/badscript/BadScript-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "gnutypewriter";
  src: url("../fonts/gnutypewriter/gnutypewriter.eot");
  src: url("../fonts/gnutypewriter/gnutypewriter.eot?#iefix")format("embedded-opentype"),
  url("../fonts/gnutypewriter/gnutypewriter.woff") format("woff"),
  url("../fonts/gnutypewriter/gnutypewriter.woff2") format("woff2"),
  url("../fonts/gnutypewriter/gnutypewriter.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/lato/Lato-Medium.eot");
  src: url("../fonts/lato/Lato-Medium.eot?#iefix")format("embedded-opentype"),
  url("../fonts/lato/Lato-Medium.woff") format("woff"),
  url("../fonts/lato/Lato-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Zhizn";
  src: url("../fonts/Zhizn/Zhizn.eot");
  src: url("../fonts/Zhizn/Zhizn.eot?#iefix")format("embedded-opentype"),
  url("../fonts/Zhizn/Zhizn.woff") format("woff"),
  url("../fonts/Zhizn/Zhizn.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}